/* styling the timer */
.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* media query for tablet size */
@media (max-width: 768px){
    .container{
        width: 100%;
    }
}

/* media query for mobile size */
@media (max-width: 500px){
    .container{
        width: 100%;
    }
}
