body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  padding: 0 16px;
}

.container {
  background-image: linear-gradient(to right, rgb(116, 221, 207) 20%, white);
  margin: auto -16px;
  padding: 0 350px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h3 {
  color: #044d4db3;
  display: flex;
  font-family: "McLaren", cursive;
  
}

@media (max-width: 768px){
  .container {
      margin: auto -16px;
      padding: 0 225px;

  }

  background-image {
      width: 100%;
  }
}

@media (max-width: 424px){
  .container {
      margin: auto -16px;
      padding: 0 120px;

  }

  background-image {
      width: 100%;
  }
}
